apiVersion: apps/v1
kind: Deployment
metadata:
  name: http-deployment
spec:
  replicas: 1 
  selector:
    matchLabels:
      app: http
  template:
    metadata:
      labels:
        app: http
    spec:
      containers:
      - name: http
        image: yogeshvk1209/httppy_cent9:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 3000
---
apiVersion: v1
kind: Service
metadata:
  name: http-service
spec:
  selector:
    app: http
  ports:
  - port: 80
    targetPort: 3000
  type: LoadBalancer 
