apiVersion: apps/v1
kind: Deployment
metadata:
  name: http-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: http
  template:
    metadata:
      labels:
        app: http
    spec:
      containers:
      - name: http
        image: http-service:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 3000
---
apiVersion: v1
kind: Service
metadata:
  name: http-service
spec:
  selector:
    app: http
  ports:
  - port: 80
    targetPort: 3000
  type: LoadBalancer 